<%= render 'includes/navbar' %>

<div class="container">
<table class="table" id="resultsTable">

   </br>
    <thead>
      <tr>
      <th><b>#</b>
      </th>
        <th>Project Title </th>
        <th>User Name </th>
        <th>Email </th>
        <th>Category Name </th>
        <th>project id </th>
        <th>Buy Now Price </th>
      <th>Filtered Auctiontype </th>
      <th>Project Detail </th>
      <th>Project Type</th>
      </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @data.each do |item| %>
            <tr>
              <td><%= i %></td>
              <td><%= item.project_title %></td>
              <td><%= item.user.username %></td>
              <td><%= item.user.email %></td>
              <td><%= item.category.category_name %></td>
              <td><%= item.project_id %></td>
            
              <td><%= item.buynow_price %></td>
              <td><%= item.filtered_auctiontype %></td>
              <td><%= item.project_details %></td>
              <td><%= item.project_type %></td>
            </tr>
      <% i+=1 %>
    <% end %>
    </tbody>
  </table>
</div>

<ol>
  <li>Joined three tables using rails association. User ,Category ,Products</li>
  <li>Database file was provided by and it didnt had catgories table. I creted that using migration</li>
  <li>Database is not normalized</li>
  <li>Used Jquery dataTable plugin for sorting, searching, and pagination</li>
  <li>I can make my own pluging for sorting searching and pagination</li>
</ol>

